<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Console Mart</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("checkout", "Cart")'">
                        <span class="glyphicon glyphicon glyphicon-home"></span>
                        Back to Shop
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br />
<h2 style="color:seagreen">Success !!!!!</h2>
<hr style="color:dodgerblue;border: 2px double" />
<div>
    <h1 style="text-align:left"> Total Amount Billed</h1>
    <h1 style="text-align:right;color:seagreen"><strong> R @ViewBag.Total</strong></h1>
</div>
<h2>Location: South Africa</h2>
<h2>Time: @ViewBag.Time</h2>
<hr style="color:dodgerblue;border: 2px double" />
<div class=" btn-lg btn-Success" style="border-radius:50px;color:white;width:100%;margin:0 auto; margin-left:25%; height:50px" onclick="window.location.href='@Url.Action("Checkout", "Cart")'">
    <i class="glyphicon glyphicon-shopping-ok"></i>
</div>
